{% extends 'base.html.twig' %}

{% block title %}Thomas Biendicho - Portfolio
{% endblock %}

{% block body %}

	<div class="main-block presentation">
		<div class="title d-flex flex-xl-row flex-column">
			<div class="main-block-left flex-lg-fill">
				<h1 class="name">Thomas Biendicho</h1>
				<h1 class="job">Développeur Web & Web mobile</h1>
			</div>

			<div class="main-block-right">
				<img class="photo" src="{{ asset('img/photo.png')}}" alt="">
			</div>
		</div>
		<div class="choices">
			<div>
				<p>
					<a class="choice" href="#projects">
						Mes projets
					</a>
				</p>
			</div>
			<hr class="line">
			<div>
				<p>
					<a class="choice" href="#soft-skills" uk-scroll>
						Mon parcours
					</a>
				</p>
			</div>
			<hr class="line">
			<div>
				<p>
					<a class="choice" href="#formation" uk-scroll>
						Ma formation
					</a>
				</p>
			</div>
			<hr class="line">
			<div>
				<p>
					<a class="choice" href="#knowledge" uk-scroll>
						Mes compétences
					</a>
				</p>
			</div>
			<hr class="line">
			<div>
				<p>
					<a class="choice" href="#contact">
						Mes coordonnées
					</a>
				</p>
			</div>
			<hr class="line">
			<div>
				<p>
					<a class="last-choice" href="{{ asset('cv/CV BIENDICHO - Développeur Web & Web mobile.pdf')}}">
						Mon CV
					</a>
				</p>
			</div>
		</div>
	</div>

</div>

<div id="projects" class="block block-projects">

	<h2>Mes projets</h2>

	<div class="row projects d-flex justify-content-sm-between pt-5">
		<div class="col-xl-4 col-sm-12 current-project d-flex justify-content-around">
			<div class="card project" style="width: 30rem;">
				<div class="img">
					<a href="http://ec2-3-83-182-226.compute-1.amazonaws.com"><img src="{{ asset('img/myas.jpg')}}" class="card-img-top" alt="..."></a>
				</div>
				<div class="card-body d-flex flex-column justify-content-center">
					<p class="card-title">MYAS Gallery</p>
					<p class="card-text">MYAS Gallery est une galerie d'art itinérante, dont le site a été réalisé dans le cadre du projet de fin de ma formation. J'ai pour ma part réalisé le Backoffice en binôme</p>
				</div>
			</div>
		</div>
		<div class="col-xl-4 col-sm-12 current-project d-flex justify-content-around">
			<div class="card project" style="width: 30rem;">
				<div class="img">
					<a href="https://lol.thomas-biendicho.fr"><img src="{{ asset('img/test2.svg')}}" class="card-img-top" alt="..."></a>
				</div>
				<div class="card-body d-flex flex-column justify-content-center">
					<p class="card-title">Learn Or Laught</p>
					<p class="card-text">Learn Or Laught est un générateur d'anecdotes et de blagues, faisant appel à une API publique ainsi qu'à une API créée pour l'occasion.</p>
				</div>
			</div>
		</div>
		<div class="col-xl-4 col-sm-12 current-project d-flex justify-content-around">
			<div class="card project" style="width: 30rem;">
				<div class="img">
					<a href=""><img src="{{ asset('img/test2.svg')}}" class="card-img-top" alt="..."></a>
				</div>
				<div class="card-body d-flex flex-column justify-content-center">
					<p class="card-title">TO DO List</p>
					<p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
				</div>
			</div>
		</div>
	</div>
</div>

<div id="soft-skills" class="block soft-skills">
	<h2>Mon parcours</h2>
	<p class="white-text pt-5">Jusqu'en 2021, j'exerçais le métier de Responsable Qualité Hygiène Sécurité et Environnement (QHSE). Ma mission était double : garantir la santé et la sécurité des collaborateurs et diminuer l'impact environnemental des activités de l'entreprise.
	</p>
	<p class="white-text">
		Je devais pour cela faire vivre le Système de Management Intégré garanti par une triple certification ISO 9001, 14001 et 45001 que j'ai su maintenir et déployer sur un périmètre jusqu'alors non-couvert, à savoir les régions Alsace et Lorraine dont j'avais la responsabilité.
	</p>
	<p class="white-text">
		Membre du Comité de Direction et du CSSCT, je participais activement à la vie de l'entreprise et à sa dynamique QHSE. Durant la période de crise sanitaire, j'ai également porté le rôle de Référent Covid-19 Entreprise. Cette expérience m'a permis à la fois d'être autonome dans mon travail, de manager l'ensemble des collaborateurs sur une thématique commune à tous, de gérer une situation de crise et enfin de comprendre les enjeux liés à la Direction d'une société.
	</p>
	<p class="white-text">
		Mais même si cette expérience m'a énormément appris, une chose essentielle me manquait : lier ma passion pour l'informatique à mon travail. C'est pourquoi j'ai décidé en 2021 d'entamer une reconversion professionnelle et me former afin de prétendre à vivre de cette passion.
	</p>
</div>

<div id="formation" class="block formation">
	<h2>Ma formation</h2>
	<p class="white-text pt-5">
		J'ai réalisé une formation chez <a href="https://oclock.io/formations/developpeur-web">O'Clock<a/> afin de me former au métier de Développeur Web et Web mobile. Le programme, détaillé dans la rubrique <a href="#knowledge"><i>Mes compétences</i></a>, était décomposé de la manière suivante :</p>
	</p>
	<p class="white-text">
		- 3 mois de socle permettant de s'initier et se perfectionner sur HTML5, CSS3, JavaScript ainsi que PHP et MySQL, le tout sous Linux
		<br>
		- 1 mois de spécialisation Symfony, framework PHP
		<br>
		- 1 mois de projet en équipe afin de réaliser un site responsive de A à Z
	</p>
</div>

<div id="knowledge" class="block knowledge">
	<h2>Mes compétences</h2>

	<div class="row cards-knowledge">
		<div class="col-xl-4 col-12">
			<div class="card card-knowledge pt-5 mx-auto" style="width: 80%;">
				<div class="img-knowledge">
					<img src="{{ asset('img/icons/php.png')}}" class="card-img-top" alt="...">
				</div>
				<div class="card-body">
					<p class="card-text card-text-knowledge">
						<span>POO</span>
						<br>
						<span>intégration du modèle MVC</span>
						<br>
						<span>Création de Backoffice</span>
						<br>
						<span>Utilisation de Lumen</span>
					</p>
				</div>
			</div>
		</div>

		<div class="col-xl-4 col-12">
			<div class="card card-knowledge pt-5 mx-auto" style="width: 80%;">
				<div class="img-knowledge">
					<img src="{{ asset('img/icons/js.png')}}" class="card-img-top" alt="...">
				</div>
				<div class="card-body">
					<p class="card-text card-text-knowledge">
						<span>Manipulation du DOM</span>
						<br>
						<span>Ecouteurs d'événements</span>
						<br>
						<span>Requêtes AJAX</span>
					</p>
				</div>
			</div>
		</div>

		<div class="col-xl-4 col-12">
			<div class="card card-knowledge pt-5 mx-auto" style="width: 80%;">
				<div class="img-knowledge">
					<img src="{{ asset('img/icons/mysql.png')}}" class="card-img-top" alt="...">
				</div>
				<div class="card-body">
					<p class="card-text card-text-knowledge">
						<span>Gestion de bases de données</span>
						<br>
						<span>Interactions front et back</span>
						<br>
						<span>Utilisation d'Adminer</span>
					</p>
				</div>
			</div>
		</div>

		<div class="col-xl-4 col-12">
			<div class="card card-knowledge pt-5 mx-auto" style="width: 80%;">
				<div class="img-knowledge">
					<img src="{{ asset('img/icons/symfony.svg')}}" class="card-img-top" alt="...">
				</div>
				<div class="card-body">
					<p class="card-text card-text-knowledge">
						<span>Architecture MVC</span>
						<br>
						<span>Bundles / Composer</span>
						<br>
						<span>Sécurité : Cors / Tokens</span>
						<br>
						<span>Authorisations</span>
						<br>
						<span>Templates via Twig</span>
					</p>
				</div>
			</div>
		</div>

		<div class="col-xl-4 col-12">
			<div class="card card-knowledge pt-5 mx-auto" style="width: 80%;">
				<div class="img-knowledge">
					<img src="{{ asset('img/icons/github.png')}}" class="card-img-top" alt="...">
				</div>
				<div class="card-body">
					<p class="card-text card-text-knowledge">
						<span>Manipulation de Github</span>
						<br>
						<span>Mode projet : pull requests</span>
					</p>
				</div>
			</div>
		</div>

		<div class="col-xl-4 col-12">
			<div class="card card-knowledge pt-5 mx-auto" style="width: 80%;">
				<div class="img-knowledge">
					<img src="{{ asset('img/icons/bootstrap.svg')}}" class="card-img-top" alt="...">
				</div>
				<div class="card-body">
					<p class="card-text card-text-knowledge">
						<span>HTML5 et CSS3</span>
						<br>
						<span>Bootstrap</span>
						<br>
						<span>Intégration</span>
					</p>
				</div>
			</div>
		</div>
	</div>
</div>

<div id="contact" class="block contact">
	<h2>Mes coordonnées</h2>
	<div class="contact-items d-flex justify-content-around">
		<div class="contact-infos pt-5 d-flex flex-column align-items-start">
			<span><img class="contact-img" src="{{ asset('img/icons/telephone.png')}}" alt="">
				+33 6 72 61 26 33</span>
			<span><img class="contact-img" src="{{ asset('img/icons/gmail.png')}}" alt=""><a href="mailto:thomas.biendicho@gmail.com">thomas.biendicho@gmail.com</a>
			</span>
			<span><img class="contact-img" src="{{ asset('img/icons/linkedin.png')}}" alt=""><a href="https://linkedin.com/in/thomas-biendicho-284426101">linkedin.com/in/thomas-biendicho-284426101</a>
			</span>
		</div>
		<div class="cv">
			<a href="{{ asset('cv/CV BIENDICHO - Développeur Web & Web mobile.pdf')}}"><img class="cv-img" src="{{ asset('img/icons/cv.png')}}" alt=""></a>
			<p style="color: white">Télécharger mon CV</p>
		</div>
	</div>
</div>{% endblock %}
